<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperación de Contraseña</title>
    <meta name="robots" content="noindex" />
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="https://cdn.notguiri.com/shared/img/favicon/apple-touch-icon.png" />
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="https://cdn.notguiri.com/shared/img/favicon/favicon-32x32.png" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="https://cdn.notguiri.com/shared/img/favicon/favicon-16x16.png" />
    <link rel="manifest"
          href="https://cdn.notguiri.com/shared/img/favicon/site.webmanifest" />
    <link rel="mask-icon"
          href="https://cdn.notguiri.com/shared/img/favicon/safari-pinned-tab.svg"
          color="#8dc6a5" />
    <link rel="shortcut icon"
          href="https://cdn.notguiri.com/shared/img/favicon/favicon.ico" />
    <meta name="apple-mobile-web-app-title" content="Not Guiri CMS" />
    <meta name="application-name" content="Not Guiri CMS" />
    <meta name="msapplication-TileColor" content="#8dc6a5" />
    <meta name="msapplication-config"
          content="https://cdn.notguiri.com/shared/img/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#476d5a" />
    <link rel="preconnect"
          href="https://cdn.notguiri.com/"
          crossorigin="true" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@700&display=swap"
          rel="stylesheet" />
    <style>
        body,
        html {
            min-height: 100vh;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin: 0;
            margin-bottom: 12px;
            padding: 0;
        }

        h1,
        h2,
        h3 {
            font-weight: 500;
        }

        p,
        h4,
        h5,
        h6 {
            font-weight: 600;
        }

        a,
        a[href] {
            text-decoration: none;
            color: #4e4e4e;
        }

        img,
        svg {
            max-width: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
            color: #4e4e4e;
        }

        .bold-text {
            font-family: "Poppins Bold", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
        }

        p,
        h2,
        h1,
        a,
        span,
        small {
            color: #4e4e4e;
        }

        .title {
            color: #69a78b;
            text-align: center;
        }

        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .form {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

            .form p {
                text-align: center;
            }

            .form input {
                display: flex;
                border-radius: 32px;
                padding: 8px 12px;
                border: 1px solid rgba(0, 0, 0, 0.6);
                margin: 8px 0;
                font-family: inherit;
            }

        .form-image {
            text-align: center;
            max-width: 250px;
            align-self: center;
        }

        .content-wrapper {
            padding: 24px;
            display: inline-flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;
        }

        .icon {
            width: 24px;
            height: 24px;
            margin: 0 8px;
            display: inline-block;
        }

        .contact-wrapper {
            margin: 12px;
            display: inline-block;
            text-align: center;
            align-items: center;
        }

        footer {
            margin: 12px;
        }

        .form-button:hover {
            background-color: #b12342;
        }

        .footer-text small,
        .footer-text span {
            color: #aeaeae !important;
        }

        footer p {
            font-size: 0.85em;
        }

        footer {
            text-align: center;
        }

        .validation-text {
            color: rgb(216, 25, 0);
            display: none;
        }

        .success-text {
            color: rgba(44, 187, 51, 0.9);
        }

        .form-button {
            display: inline-flex;
            justify-content: center;
            padding: 12px 24px;
            margin: 12px 0;
            border-radius: 32px;
            border: none;
            background-color: #d9274e;
            color: #fff;
            font-family: inherit;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }

        button[disabled] {
            background-color: #cfcfcf;
            color: #999999;
            pointer-events: none;
        }

        #success-box {
            border: 1px solid rgba(44, 187, 51, 0.4);
            border-radius: 8px;
            padding: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 32px 0;
        }

            #success-box p {
                margin: 0;
            }

            .hidden,
            #success-box.hidden {
                display: none;
            }
    </style>
</head>
<body>
    <div class="content-wrapper">
        <img width="100"
             src="https://cdn.notguiri.com/shared/img/brand/logo_color.svg" />

        <div class="form-container">
            <form id="form" class="form" onsubmit="submitForm()">
                <img class="form-image"
                     src="https://cdn.notguiri.com/shared/img/utils/forgot_password.svg" />
                <p>Ahora sólo tienes que crear una nueva contraseña:</p>
                <input type="password"
                       id="password"
                       required
                       placeholder="Nueva contraseña"
                       name="password" />
                <input type="password"
                       id="confirm-password"
                       required
                       placeholder="Confirma tu nueva contraseña"
                       name="confirm-password" />
                <small id="validation-text" class="validation-text">¡🙌 Yep! Revisa que las contraseñas coincidan.</small>

                <button id="submit-button" type="button" disabled class="form-button">
                    Continuar
                </button>
            </form>
            <div id="success-box" class="hidden">
                <p class="success-text">Contraseña cambiada correctamente.</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="contact-wrapper">
            <a href="https://www.instagram.com/not.guiri/"
               rel="noopener"
               class="icon"
               target="_blank">
                <img src="https://cdn.notguiri.com/mail/confirm-email/instagram.png" />
            </a>
            <a href="https://www.facebook.com/notguiri"
               rel="noopener"
               class="icon"
               target="_blank">
                <img src="https://cdn.notguiri.com/mail/confirm-email/facebook.png" />
            </a>
            <p>Síguenos en nuestras redes sociales para estar al día</p>
            <div class="footer-text">
                <small>
                    &copy; <span id="year"></span>
                    <a href="https://notguiri.com" rel="noopener" target="_blank">Not Guiri</a>
                    | Hear the city with Not Guiri
                </small>
            </div>
        </div>
    </footer>

    <script>
        var date = new Date();
        document.querySelector("#year").innerText = date.getFullYear();
    </script>

    <script>
        const passwordInput = document.querySelector("#password");
        const confirmPasswordInput = document.querySelector("#confirm-password");
        const button = document.querySelector("#submit-button");
        const form = document.querySelector("#form");
        const validationText = document.querySelector("#validation-text");
        const sucessBox = document.querySelector("#success-box");
        let hasCheckedValidity = false;

        button.addEventListener("click", (event) => {
            event.preventDefault();
            submitForm();
        });

        form.addEventListener("submit", (event) => {
            event.preventDefault();
            event.stopPropagation();
            submitForm();
        });

        function showValidationText() {
            validationText.style.display = "block";
        }

        function hideValidationText() {
            validationText.style.display = "none";
        }

        function enableButton() {
            button.removeAttribute("disabled");
        }

        function disableButton() {
            button.setAttribute("disabled", true);
        }

        confirmPasswordInput.addEventListener("input", checkValidity);

        function checkValidity() {
            if (!hasCheckedValidity) {
                passwordInput.addEventListener("input", checkValidity);
                hasCheckedValidity = true;
            }

            validationText.style.display = "none";
            const pValue = passwordInput.value;
            const cpValue = confirmPasswordInput.value;

            if (pValue !== cpValue) {
                showValidationText();
                disableButton();
            } else if (pValue == cpValue && pValue.length > 1) {
                hideValidationText();
                enableButton();
            }
        }

        function submitForm() {
            fetch(`@(Model.ResetURL)/?password=${passwordInput.value}`, {
                method: 'post',
                headers: {
                    changePasswordToken: "@(Model.ChangePasswordToken)"
                },
            }).then(async (response) => {
                const result = await response.json();
                if (result) {
                    form.classList.add("hidden");
                    sucessBox.classList.remove("hidden");
                } else {
                    window.href = "@(Model.ErrorURL)";
                }
            });
        }
    </script>
</body>
</html>


